{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Maquina</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Serie</th>
                <td>{{ entity.serie }}</td>
            </tr>
            <tr>
                <th>Marca</th>
                <td>{{ entity.marca }}</td>
            </tr>
            <tr>
                <th>Anulado</th>
                <td>{{ entity.anulado }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Fechaalta</th>
                <td>{{ entity.fechaAlta|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechabaja</th>
                <td>{{ entity.fechaBaja|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_maquina') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_maquina_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
