{% extends '::base.html.twig' %}

{% block body -%}
<div class="container">
	<h3>Modificar entrada</h3>
    	{#{ form(edit_form) }#}

	{{ form_start(edit_form) }}
    	{{ form_errors(edit_form) }}
	    <div class="form-group">
		        {{ form_label(edit_form.nombre) }}
		        {{ form_errors(edit_form.nombre) }}
		        {{ form_widget(edit_form.nombre) }}
        </div>
	    <div class="form-group">
		        {{ form_label(edit_form.codigo) }}
		        {{ form_errors(edit_form.codigo) }}
		        {{ form_widget(edit_form.codigo) }}
	    </div>
	    <div class="form-group">
		        {{ form_label(edit_form.diagnostico) }}
		        {{ form_errors(edit_form.diagnostico) }}
		        {{ form_widget(edit_form.diagnostico) }}
	    </div>
	{{ form_end(edit_form) }}

    <ul class="record_actions">
	    <li>
	        <a href="{{ path('entrada') }}">
	            Back to the list
	        </a>
	    </li>
	    <li>
	    	{{ form(delete_form) }}
	    </li>
	</ul>
</div>
{% endblock %}
