{% extends '::base.html.twig' %}

{% block body -%}
<div class="container">
        <h3>Entrada</h3>

        <table class="record_properties">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td>{{ entity.nombre }}</td>
                </tr>
                <tr>
                    <th>Codigo</th>
                    <td>{{ entity.codigo }}</td>
                </tr>
                <tr>
                    <th>Diagnostico</th>
                    <td>{{ entity.diagnostico }}</td>
                </tr>
            </tbody>
        </table>

            <ul class="record_actions">
        <li>
            <a href="{{ path('entrada') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('entrada_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
</div>
{% endblock %}
